<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LocalSQL" connectionString="Data Source = (local); Initial Catalog = Northwind;         Integrated Security = SSPI"         providerName="System.Data.SqlClient"/>
		<add name="LocalOracle"         connectionString="Data Source = localhost:1521/xe; User ID = scott;            Password = tiger;"         providerName="System.Data.OracleClient"/>
	</connectionStrings>
</configuration>