<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="marvellousWorks.practicalPattern.shwoCase">
			<section name="dbProviderMappings"           type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>
	<marvellousWorks.practicalPattern.shwoCase>
		<dbProviderMappings>
			<add key="System.Data.OracleClient" value="…Oracle Database 实体类型"/>
			<add key="System.Data.SqlClient" value="…SQL Server Database 实体类型"/>
		</dbProviderMappings>
	</marvellousWorks.practicalPattern.shwoCase>
	<connectionStrings>
		<add name="LocalSQL"         connectionString="..." providerName="System.Data.SqlClient"/>
		<add name="LocalOracle"         connectionString="..." providerName="System.Data.OracleClient"/>
	</connectionStrings>
</configuration>